.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card img {
    width: 60vw;
}

a {
    margin-top: 20px;
    color: #f3f3f3;
    text-decoration: none;
}